.App {
  text-align: center;
}


.App-header {
  background-color: #363a72;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0 3px #0000, 0 0 5px #0000ff;
  background-image: url("background.jpg");
  /*Image from https://wallpaperaccess.com/1920x1080-hd-nature*/
  background-position: center;
  background-repeat: no-repeat;
}

.App-intro {
  min-height: 20vh;
  font-size: calc(20px +2vmin);
  animation: appear-slide 5s;
}
@keyframes appear-slide {
  0% {
    opacity: 0;
    margin-bottom: -50vmin;
  }
  50% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

.App-link {
  color: black;
}
.App-link:hover {
  border-color: #0000ff;
}
.App-link:visited {
  color: orange;
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  position: fixed;
  top: 10px;
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}
